.show{
    animation-name: appear;
    animation-duration: .4s;
}

.unshow{
    animation-name: disappear;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}