.descImg{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/2b25e8182010403.6527d04ca0651.jpg);
    background-size: cover;
}

.descImg2{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/10bca5153543217.6331e5a9bdff9.png);
    background-size: cover;
}